<div class="inner-content">
            <!--//================.Breadcrumb Section==============//-->
            <div class="breadcrumb-section">
                <div class="container">
                    <h3>blog</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">blog</li>
                    </ul>
                </div>
            </div>
            <!--//================.Breadcrumb Section End==============//-->
            <!--//================.Blog Section==============//-->	
            <section class="padTB60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog42.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog43.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog44.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog45.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog46.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog47.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog48.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog49.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 padB30 hidden-sm">
                            <div class="blog-sec">
                                <figure>
                                    <img src="assets/img/blog/blog50.jpg" alt="" >
                                    <figcaption>
                                        <ul class="blog-icon">
                                            <li><a href=""><i class="fa fa-user icon mar10" aria-hidden="true"></i>admin</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o mar10" aria-hidden="true"></i>may 24</a></li>
                                            <li><a href=""><i class="fa fa-comment mar10" aria-hidden="true"></i>78</a></li>
                                            <li><a href=""><i class="fa fa-heart mar10" aria-hidden="true"></i>41</a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="blog-detail">
                                    <h4><a href="blog-with-sidebar.html">blog image post</a></h4>
                                    <P>Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        industry's...
                                    </p>
                                    <a href="blog-with-sidebar.html" class="blog-btn">read more<i class="fa fa-angle-double-right marL10" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="pagination-box text-right padT30">
                                <a href="#"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span></a>
                                <a href="#"><span>1</span></a>
                                <a href="#"><span>2</span></a>
                                <a href="#"><span>3</span></a>
                                <a href="#"><span>4</span></a>
                                <a href="#"><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--//================.Blog Section End==============//-->	