@using ShoppingCart.Web.Models.Users
@model RegisterViewModel

<!--//================.Header Section End==============//-->
<div class="inner-content">
    <!--//================.Breadcrumb Section==============//-->
    <div class="breadcrumb-section">
        <div class="container">
            <h3>register</h3>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">register</li>
            </ul>
        </div>
    </div>
    <!--//================.Breadcrumb Section End==============//-->
    <!--//================.Register Section==============//-->
    <div class="reg_sec padTB60">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="reg-page">
                        <form id="registerForm" method="post" asp-action="RegisterPost" asp-controller="Users" onsubmit="return formValidation()">
                            <label>first name</label>
                            <input id="firstName" type="text" placeholder="Enter First Name" value="" class="marB30" asp-for="FirstName">
                            
                            <label>last name</label>
                            <input id="lastName" type="text" placeholder="Enter Last Name" value="" class="marB30" asp-for="LastName">
                            
                            <label>email</label>
                            <input id="email" type="text"  placeholder="Enter Email" value="" class="marB30" asp-for="Email">
                            
                            <label>phone number</label>
                            <input id="phoneNumber" type="text" placeholder="Enter Phone Number" value="" class="marB30" asp-for="Phone">
                            
                            <label>Street</label>
                            <input id="street" type="text" placeholder="Enter Street" value="" class="marB30" asp-for="Street">
                            
                            <label>City</label>
                            <input id="city" type="text" placeholder="Enter City" value="" class="marB30" asp-for="City">
                            
                            <label>House Number</label>
                            <input id="houseNumber" type="text" placeholder="Enter House Number" value="" class="marB30" asp-for="HouseNumber">
                            
                            <label>password</label>
                            <input id="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            placeholder="Enter Password" value="" class="marB30" asp-for="Password">
                            <input type="submit" name="sub" value="CREATE" class="reg-btn">
                            <a href="login.html" class="sign">sign in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================.Register Section End==============//-->
<script src="~/assets/js/register.js"></script>