<!--//================.Header Section End==============//-->
<div class="inner-content">
    <!--//================.Breadcrumb Section==============//-->
    <div class="breadcrumb-section">
        <div class="container">
            <h3>register</h3>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">register</li>
            </ul>
        </div>
    </div>
    <!--//================.Breadcrumb Section End==============//-->
    <!--//================.Register Section==============//-->
    <div class="reg_sec padTB60">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="reg-page">
                        <form method="post">
                            <label>first name</label>
                            <input type="text" placeholder="Enter First Name" value="" name="fname" class="marB30">
                            <label>last name</label>
                            <input type="text" placeholder="Enter Last Name" value="" name="fname" class="marB30">
                            <label>email</label>
                            <input type="text" placeholder="Enter Email" value="" name="fname" class="marB30">
                            <label>password</label>
                            <input type="password" placeholder="Enter Password" value="" name="pwd" class="marB30">
                            <input type="submit" name="sub" value="CREATE" class="reg-btn">
                            <a href="login.html" class="sign">sign in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================.Register Section End==============//-->		