<!--//================.Header Section End==============//-->
<div class="inner-content">
    <!--//================.Breadcrumb Section==============//-->
    <div class="breadcrumb-section">
        <div class="container">
            <h3>contact</h3>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">contact</li>
            </ul>
        </div>
    </div>
    <!--//================.Breadcrumb Section End==============//-->
    <!--//================.Contact Start==============//-->
    <div class="container-fluid padT60">
        <div class="row">
            <div class="location-map">
                <div id='gmap_canvas'></div>
            </div>
        </div>
    </div>
    <div class="padTB60 contact-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="service-form">
                            <h3 class="marB30">contact</h3>
                            <div class="col-md-4 col-sm-4 col-xs-12 marB30">
                                <input type="text" name="name" value="" placeholder="Name">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 marB30">
                                <input type="text" name="email" value="" placeholder="Email">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 marB30">
                                <input type="text" name="website" value="" placeholder="Website(url)">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                                <textarea placeholder="Type here message" rows="5" cols="150"></textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <a href="">send message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================.Contact End==============//-->		