<!--//================.Slider Section==============//-->
        <section class="main-legging">
            <div class="slidersec">
                <div id="yoga-slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <figure>
                            <img src="assets/img/slider/slider02.jpg" alt="">
                            <figcaption class="slider-text">
                                <h2>yoga leggings</h2>
                                <h3>women's athletic apparel</h3>
                                <a href="" class="slider-btn">shop now!</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="assets/img/slider/slider01.jpg" alt="">
                            <figcaption class="slider-text">
                                <h2>yoga leggings</h2>
                                <h3>women's athletic apparel</h3>
                                <a href="" class="slider-btn">shop now!</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="assets/img/slider/slider3.jpg" alt="">
                            <figcaption class="slider-text">
                                <h2>yoga leggings</h2>
                                <h3>women's athletic apparel</h3>
                                <a href="" class="slider-btn">shop now!</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!--//================.Slider Section End==============//-->
        <div class="inner-content">
            <!--//================.Shop Section==============//-->
            <div class="shop-index">
                <div class="container">
                    <div class="shop-sec">
                        <p>up to 50% off in the all weekend of november - latest designed by zplus</p>
                    </div>
                    <div class="shop-images">
                        <div class="row">
                            <div class="grid">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <figure class="effect-chico">
                                        <img src="assets/img/all_img/shop1.jpg" alt="">
                                        <figcaption>
                                            <div class="shop_content">
                                                <p>Collection</p>
                                                <h2>top brands</h2>
                                                <a href="" class="slider-btn">shop now!</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <figure class="effect-chico">
                                        <img src="assets/img/all_img/shop2.jpg" alt="">
                                        <figcaption>
                                            <div class="shop_content">
                                                <p>Collection</p>
                                                <h2>high waist pants</h2>
                                                <a href="" class="slider-btn">shop now!</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <figure class="effect-chico">
                                        <img src="assets/img/all_img/shop3.jpg" alt="">
                                        <figcaption>
                                            <div class="shop_content">
                                                <p>Collection</p>
                                                <h2>leggings</h2>
                                                <a href="" class="slider-btn">shop now!</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-img">
                        <div id="fashion-slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand1.png" alt=""></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand2.png" alt=""></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand3.png" alt=""></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand4.png" alt=""></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand5.png" alt=""></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href=""><img src="assets/img/brand/brand6.png" alt=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//================.Shop Section End==============//-->
            <!--//================.Product Section==============//-->
            <section class="product-sec padTB60">
                <div class="container">
                    <h3>our products</h3>
                    <div class="product-detail padT60">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product1.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-one">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product2.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-two">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product3.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-three">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 hidden-sm product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product4.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample product-list">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-four">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product5.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-five">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product6.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-six">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product7.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-seven">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 hidden-sm product-list">
                                <div class="product-img">
                                    <figure class="product-overlay">
                                        <img src="assets/img/product/product8.jpg" alt="">
                                        <figcaption>
                                            <span class="vertical">new</span>
                                            <ul class="product-icon">
                                                <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="product-sample">
                                        <h5><a href="product-detail.html">zplus product sample</a></h5>
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <p>$55.00 <del>$120.00</del></p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <ul class="product-color-six">
                                                    <li><span></span></li>
                                                    <li><span></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <a href="" class="product-btn">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--//================.Product Section End==============//-->	
            <!--//================.Banner Section==============//-->	
            <section>
                <div class="banner-sec">
                    <div class="container">
                        <div class="banner-text">
                            <h2>leggings fashion</h2>
                            <h3>women's athletic apparel</h3>
                            <a href="" class="slider-btn">shop now!</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--//================.Banner Section End==============//-->
            <!--//================.Sale Section==============//-->
            <section class="shop-index our-sale padTB60">
                <div class="container">
                    <div class="padLR0">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 resmar">
                                <div class="product-sale">
                                    <figure>
                                        <img src="assets/img/product/product9.jpg" alt="">
                                        <figcaption>
                                            <p>big sale</p>
                                            <h2>up to 50%</h2>
                                            <a href="" class="product-btn">shop now!</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 resmar">
                                <div class="product-timer">
                                    <figure>
                                        <img src="assets/img/product/product10.jpg" alt="">
                                        <figcaption class="product-sample">
                                            <div class="col-md-12 col-sm-12 col-xs-12 padL0">
                                                <div class="row">
                                                    <div id="demo-product">
                                                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                                            <div class="timer">00</div>
                                                            <span>days</span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                                            <div class="timer">00</div>
                                                            <span>hrs</span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                                            <div class="timer">00</div>
                                                            <span>mins</span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                                                            <div class="timer">00</div>
                                                            <span>secs</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <h5>zplus product sample</h5>
                                                    <p>$55.00 <del>$120.00</del></p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="product-lookbook">
                                    <figure>
                                        <img src="assets/img/product/product11.jpg" alt="">
                                        <figcaption>
                                            <h5>collection</h5>
                                            <h2>lookbook</h2>
                                            <p>women's athletic apparel</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--//================.Instagram Section==============//-->	
            <section class="insta-bg">
                <div class="container">
                    <div class="insta-sec">
                        <h3>zplus on instagram</h3>
                        <div id="insta-slider" class="owl-carousel owl-theme padT60">
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider4.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider5.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider6.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider7.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider8.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="insta-img">
                                    <figure class="insta-overlay">
                                        <img src="assets/img/slider/slider6.jpg" alt="">
                                        <figcaption>
                                            <span><a href=""><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--//================.Instagram Section End==============//-->	