@using ShoppingCart.Web.Models
@model List<ShoppingCart.Web.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
asdadsasdasd
<a class="" asp-controller="Users" asp-action="Index" role="button">Profile</a>

