<!--//================.Header Section End==============//-->
<div class="inner-content">
    <!--//================.Breadcrumb Section==============//-->
    <div class="breadcrumb-section">
        <div class="container">
            <h3>product</h3>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">product</li>
            </ul>
        </div>
    </div>
    <!--//================.Breadcrumb Section End==============//-->
    <!--//================Product section==============//-->
    <div class="product-page padTB60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="col-md-10 col-sm-10 col-xs-12 pull-right">
                        <figure class="product-page-image">
                            <img src="assets/img/collection/collection5.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 pull-left">
                        <div class="row">
                            <div class="vertical-slider padTB80 hidden-xs">
                                <div class="vertical_slider">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product20.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product20.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product21.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product21.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product22.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product22.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product23.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product23.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product22.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product22.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <figure>
                                                <a href="assets/img/product/product22.jpg" class="fancybox" data-fancybox-group="group">
                                                    <img src="assets/img/product/product22.jpg" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal-slider-product hidden-md hidden-lg hidden-sm marT30">
                                <div id="horizantal_slider_one" class="owl-carousel owl-theme owl-loaded owl-drag">
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <figure>
                                                    <a href="assets/img/product/product20.jpg" class="fancybox" data-fancybox-group="group">
                                                        <img src="assets/img/product/product20.jpg" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <figure>
                                                    <a href="assets/img/product/product21.jpg" class="fancybox" data-fancybox-group="group">
                                                        <img src="assets/img/product/product21.jpg" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <figure>
                                                    <a href="assets/img/product/product22" class="fancybox" data-fancybox-group="group">
                                                        <img src="assets/img/product/product22.jpg" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <figure>
                                                    <a href="assets/img/product/product23" class="fancybox" data-fancybox-group="group">
                                                        <img src="assets/img/product/product23.jpg" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <figure>
                                                    <a href="assets/img/product/product22.jpg" class="fancybox" data-fancybox-group="group">
                                                        <img src="assets/img/product/product22.jpg" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="product-page-heading">
                        <h4>product sample</h4>
                        <h3>$90.00</h3>
                        <div class="product-rating">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li><a href="#">(3 customer reviews)</a></li>
                            </ul>
                        </div>
                        <p class="marT10">Vivamus at ligula tortor. Nunc eu velit orci. Suspendisse potenti. Aliquam mattis adipiscing nisi quis faucibus.</p>
                        <p class="marB0"><a href="#"><span>read more....</span></a></p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="product-ability">
                                <p><strong>sku</strong> : <span>dpc001</span></p>
                                <p><strong>availability</strong> : <span>we currently have in 1 in stock</span></p>
                                <p><strong>product type</strong> :</p>
                                <p class="marB0"><strong>product vendor</strong>: <span>journey</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <ul class="product-social-icon">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <ul class="product-color">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="select-size">
                                <select>
                                    <option value="0">choose size: s(usa)</option>
                                    <option>sm</option>
                                    <option>md</option>
                                    <option>lg</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="incress-button">
                                <ul>
                                    <li><button class="minus"><i class="fa fa-minus" aria-hidden="true"></i></button></li>
                                    <li><input type="text" value="01" class="qty"></li>
                                    <li><button class="add"><i class="fa fa-plus" aria-hidden="true"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="like-it">
                                <a href="#" class="template-button"><i class="fa fa-heart marR10" aria-hidden="true"></i> like it</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="add-to-cart">
                                <a href="#" class="template-button"><i class="fa fa-shopping-bag marR10" aria-hidden="true"></i>add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//================Product section end==============//-->
    <!--//================Product discription==============//-->
    <div class="product-discription">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="exTab2">
                        <ul class="nav nav-tabs product-description-one">
                            <li class="active"><a href="#1" data-toggle="tab">discription</a></li>
                            <li><a href="#2" data-toggle="tab">sizing guide </a></li>
                            <li><a href="#3" data-toggle="tab">assigned tags</a></li>
                            <li><a href="#4" data-toggle="tab">reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active pad20" id="1">
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</p>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                                <ul class="marB10">
                                    <li>Proin condimentum fermentum nunc.</li>
                                    <li>Inceptos himenaeos.</li>
                                    <li>Mauris in erat justo. Nullam ac </li>
                                    <li>Morbi accumsan ipsum</li>
                                    <li>Puis bibendum auctor</li>
                                </ul>
                                <p>Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                            </div>
                            <div class="tab-pane pad20" id="2">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</p>
                                <ul class="marB10">
                                    <li>Proin condimentum fermentum nunc.</li>
                                    <li>Inceptos himenaeos.</li>
                                    <li>Mauris in erat justo. Nullam ac </li>
                                    <li>Morbi accumsan ipsum</li>
                                    <li>Puis bibendum auctor</li>
                                </ul>
                            </div>
                            <div class="tab-pane pad20" id="3">
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                                <ul class="marB10">
                                    <li>Proin condimentum fermentum nunc.</li>
                                    <li>Inceptos himenaeos.</li>
                                    <li>Mauris in erat justo. Nullam ac </li>
                                    <li>Morbi accumsan ipsum</li>
                                    <li>Puis bibendum auctor</li>
                                </ul>
                                <p>Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                            </div>
                            <div class="tab-pane pad20" id="4">
                                <div class="row">
                                    <div class="review-box">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="comment-box clearfix marB30">
                                                <div class="review-box-image">
                                                    <figure class="review_image">
                                                        <img src="assets/img/product/review01.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="review-pragraph">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="all-heading  review-pra-content">
                                                                <h4>hasib sharif <span>9 nov 2018</span></h4>
                                                                <div class="hidden-sm hidden-xs">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. It has survived not only five centuries, </p>
                                                                </div>
                                                                <div class="hidden-lg hidden-md">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry</p>
                                                                </div>
                                                                <p><a href="#">reply....</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-box clearfix marB30">
                                                <div class="review-box-image">
                                                    <figure class="review_image">
                                                        <img src="assets/img/product/review02.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="review-pragraph">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="all-heading  review-pra-content">
                                                                <h4>hasib sharif <span>9 nov 2018</span></h4>
                                                                <div class="hidden-sm hidden-xs">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. It has survived not only five centuries, </p>
                                                                </div>
                                                                <div class="hidden-lg hidden-md">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry</p>
                                                                </div>
                                                                <p><a href="#">reply....</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-box clearfix marB30">
                                                <div class="review-box-image">
                                                    <figure class="review_image">
                                                        <img src="assets/img/product/review03.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="review-pragraph">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="all-heading  review-pra-content">
                                                                <h4>hasib sharif <span>9 nov 2018</span></h4>
                                                                <div class="hidden-sm hidden-xs">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. It has survived not only five centuries, </p>
                                                                </div>
                                                                <div class="hidden-lg hidden-md">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry</p>
                                                                </div>
                                                                <p><a href="#">reply....</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-box clearfix marB30">
                                                <div class="review-box-image">
                                                    <figure class="review_image">
                                                        <img src="assets/img/product/review04.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="review-pragraph">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="all-heading  review-pra-content">
                                                                <h4>hasib sharif <span>9 nov 2018</span></h4>
                                                                <div class="hidden-sm hidden-xs">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s. It has survived not only five centuries, </p>
                                                                </div>
                                                                <div class="hidden-lg hidden-md">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and etting industry</p>
                                                                </div>
                                                                <p><a href="#">reply....</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//================Product discription end==============//-->
    <!--//================Related product start==============//-->
    <section class="padT60 padB30">
        <div class="container">
            <div class="row">
                <div class="arrival-sec">
                    <h3 class="marB30">new arrival</h3>
                    <div id="product-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="product-img">
                                <figure class="product-overlay">
                                    <img src="assets/img/product/product24.jpg" alt="">
                                    <figcaption>
                                        <span class="vertical">new</span>
                                        <ul class="product-icon">
                                            <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="product-sample">
                                    <h5><a href="product-detail.html">zplus product sample</a></h5>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <p>$55.00 <del>$120.00</del></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <ul class="product-color-one">
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <figure class="product-overlay">
                                    <img src="assets/img/product/product25.jpg" alt="">
                                    <figcaption>
                                        <span class="vertical">new</span>
                                        <ul class="product-icon">
                                            <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="product-sample">
                                    <h5><a href="product-detail.html">zplus product sample</a></h5>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <p>$55.00 <del>$120.00</del></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <ul class="product-color-one">
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <figure class="product-overlay">
                                    <img src="assets/img/product/product26.jpg" alt="">
                                    <figcaption>
                                        <span class="vertical">new</span>
                                        <ul class="product-icon">
                                            <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="product-sample">
                                    <h5><a href="product-detail.html">zplus product sample</a></h5>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <p>$55.00 <del>$120.00</del></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <ul class="product-color-one">
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <figure class="product-overlay">
                                    <img src="assets/img/product/product27.jpg" alt="">
                                    <figcaption>
                                        <span class="vertical">new</span>
                                        <ul class="product-icon">
                                            <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="product-sample">
                                    <h5><a href="product-detail.html">zplus product sample</a></h5>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <p>$55.00 <del>$120.00</del></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <ul class="product-color-one">
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <figure class="product-overlay">
                                    <img src="assets/img/product/product28.jpg" alt="">
                                    <figcaption>
                                        <span class="vertical">new</span>
                                        <ul class="product-icon">
                                            <li><a href="" class="square" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="square"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="product-sample">
                                    <h5><a href="product-detail.html">zplus product sample</a></h5>
                                    <div class="col-md-7 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <p>$55.00 <del>$120.00</del></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <ul class="product-color-one">
                                                <li><span></span></li>
                                                <li><span></span></li>
                                                <li><span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--//================Related product end==============//-->